extends layout

block content
  #content
    .entry
      .entry-body
        h2.title Sorry...
        img.radius-10(src="http://weblog.delaemon.com/images/neko.jpg")
        p.body Page not found.
        a.leave-comment-title(href="/", title="Top") Top
